@import "Nullstyle.scss";
@import url(https://fonts.googleapis.com/css?family=300,regular,700,900&display=swap);

.wrapper {
	display:flexbox;
	flex-direction: column;
}
.mainblock {
	flex: 1 1 auto;
	position: relative;
		&__content {
		}
		&__logo {
		}
		&__text {
		}
		&__title {
		}
		&__subtitle {
		}
		&__footer {
		}
		&__btn {
		}
		&__arrow {
		}
		&__image {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
}
.conteiner {
}
.btn {
	&_w {

	}
	.ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	
}
